.h200{
    height: 200px;
}
.bgs{
    background: silver;
}
.flex{
    display: flex;
}
.w75{
    width: 75%;
}
.h350{
    height: 350px;
}
.w25{
    width: 25%;
}
.container{
    border: 1px solid darkslategrey;
    padding: 5px;
}
.br5{
    border-radius: 5px;
}
.m5{
    margin: 5px;
}

@media screen and (min-width: 0) and (max-width: 992px){
.flex{
    flex-direction: column;
}
    .wa{
        width: auto;
    }
    .h50{
        height: 50px;
    }
}
