.wrap{
    margin: 0 145px;
}
.color{
    color: black;
}
.ff{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
.header{
    max-width: 1440px;
    margin: 27px 0 32px;
    height: 52px;
    justify-content: space-between;
}
.flex{
    display: flex;
}

.menu{
    align-items: center;
    grid-column-gap: 22px;
}

.menu a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    align-items: center;
}
.menbut{
    align-items: center;
    grid-column-gap: 27px;

}
.buttons{

    align-items: center;
    grid-column-gap: 18px;
}
.but{
    box-sizing: border-box;
    border-radius: 100px;
    height: 51px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.but1{
    width: 96px;
    border: 1px solid #000000;
    background: white;

}
.but2{
    width: 189px;
    background: black;
    color: white;
}

